.loader {
    display: flex;
    align-items: center;
    height: 71vh;
    margin-top: 1vh;

}

@media screen and (max-width: 600px) {
    .loader {
        margin-top: 4vh;
        height: 970px;
    }
}