.resultSearchedCity {
    border: 2px solid black;
    height: 100%;
}

/* this is where grid starts */
.searchedCityLeftSide {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
}

.searchedCityAllDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.currentWeatherIcon {
    height: 150px;
}

.currentTemperature {
    display: flex;
    align-items: start;
}

@media screen and (max-width: 600px) {

    .searchedCityAllDetails {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .currentWeatherIcon {
        height: 12vh;
        width: 12vh;

    }
}