.resultSearchedCity {
    border: 2px solid black;
    height: 100%;
}

.searchedCityAllDetails {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.currentWeatherIcon {
    height: 150px;
}

@media screen and (max-width: 600px) {
    .navigation {
        height: 8vh;
    }
}