.defaultCities {
    height: 71vh;
    margin-top: 1vh;
    border: 2px solid red;
}

@media screen and (max-width: 600px) {
    .defaultCities {
        margin-top: 4vh;
        height: 970px;
        overflow: scroll;
    }
}